@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
body {
  background-color: #353536;
  font-family: "Mulish", sans-serif;
}

.component--search {
  background: #3d3f43;
  border-radius: 15px;
  padding: 40px 45px;
  box-shadow: 0 15px 25px -20px #202125;
}
.component--search form {
  position: relative;
  margin-bottom: 30px;
}
.component--search form .search-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 53px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component--search form input {
  height: 50px;
  width: 100%;
  background: #303236;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  padding-left: 53px;
}
.component--search form input:focus {
  outline: 0;
}
.component--search form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--search form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--search form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--search h6 {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.component--search ul {
  margin-top: 13px;
  margin-bottom: -7px;
  padding: 0;
}
.component--search ul li a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  padding: 7px 0;
}
.component--search ul li a:hover {
  color: #2ccdea;
  font-weight: bold;
}
.component--search ul li.active a {
  color: #2ccdea;
  font-weight: bold;
}

.component--filter-search {
  background: #3d3f43;
  border-radius: 5px;
  box-shadow: 0 15px 25px -20px #202125;
}
.component--filter-search form {
  padding: 14px;
  height: 68px;
  display: flex;
}
.component--filter-search form .input {
  display: flex;
  align-items: center;
  flex: 1;
}
.component--filter-search form .input .search-icon {
  width: 50px;
  text-align: center;
}
.component--filter-search form .input input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #fff;
}
.component--filter-search form .input input:focus {
  outline: 0;
}
.component--filter-search form .input input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--filter-search form .input input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--filter-search form .input input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--filter-search form ul {
  margin-left: 15px;
  display: flex;
}
.component--filter-search form ul li label .text {
  display: block;
  height: 40px;
  padding: 0 25px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 40px;
  transition: 400ms background-color, 400ms color;
}
.component--filter-search form ul li label input {
  display: none;
}
.component--filter-search form ul li label input:checked + .text {
  background-color: #303236;
  color: #2ccdea;
}

.component--filter {
  background: #3d3f43;
  border-radius: 15px;
  padding: 40px 45px;
  box-shadow: 0 15px 25px -20px #202125;
}
.component--filter form ul li {
  display: flex;
  align-items: center;
}
.component--filter form ul li:not(:last-child) {
  margin-bottom: 20px;
}
.component--filter form ul li .key {
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.component--filter form ul li .value {
  flex: 1;
}
.component--filter form ul li .value input, .component--filter form ul li .value select {
  height: 50px;
  width: 100%;
  background: #303236;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
}
.component--filter form ul li .value input:focus, .component--filter form ul li .value select:focus {
  outline: 0;
}
.component--filter form ul li .value input::-moz-placeholder, .component--filter form ul li .value select::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--filter form ul li .value input:-ms-input-placeholder, .component--filter form ul li .value select:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--filter form ul li .value input::placeholder, .component--filter form ul li .value select::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.component--filter form ul li .value select {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #303236 url(../img/arrow-down.svg) no-repeat calc(100% - 25px) center;
}
.component--filter form ul li.filter-button {
  margin-top: 40px;
  border-top: 1px solid #303236;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.component--filter form ul li.filter-button a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 16px;
}
.component--filter form ul li.filter-button a:hover {
  color: #fff;
}
.component--filter form ul li.filter-button button {
  height: 50px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #31A5D9, #1E96A0);
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 7px 10px -5px rgba(43, 45, 48, 0.5);
}/*# sourceMappingURL=main.css.map */